@model Alia.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Add a user";
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <form asp-action="Create" asp-controller="Users">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">UserName</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input type="text" asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input type="text" asp-for="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>