@model Alia.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Add a user";
}
    <div class="back-table" style="height:600px;" role="document">
        <div class="back-tbl center form-filter-2" style="margin-top: 30px;">
            <form asp-action="Create" asp-controller="Users" class="form-filter-2 container-user-cr">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="text-user-cr">
                    <label asp-for="UserName" class="text-top" style="text-align:right;">UserName</label>
                    <label asp-for="Email" class="text-top" style="text-align:right;">Email</label>
                    <label asp-for="Password" class="text-top" style="text-align:right;">Password</label>
                </div>
                <div class="input-user-cr">
                    <input type="text" asp-for="UserName" class="input-filter-2" />
                    <input type="text" asp-for="Email" class="input-filter-2" style="margin-top: 15px;"/>
                    <input type="text" asp-for="Password" class="input-filter-2" style="margin-top: 15px;" />
                </div>
                <div class="filter-block-3">
                    <button type="submit" class="filter-button-2">Add</button>
                </div>
            </form>
            
        </div>
    </div>
