@{
    ViewData["Title"] = "Contact";
}
@*<div class="hero-wrap js-fullheight" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center text-md-left mb-5" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact Us</h1>
            </div>
        </div>
    </div>
</div>*@

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="d-flex column mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h3">Informacje kontaktowe</h2>
            </div>
            <div class="w-100"></div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <div class="col-md-12">
                    <p><span>Adres:  </span>Minsk, ul.Oktyabrskaya 10</p>
                    <p><span>Phone:  </span><a href="tel://375336739396">+ 375 33 673 93 96</a></p>
                    <p><span>Email:  </span><a href="mailto:ellis.shybut@gmail.com">ellis.shybut@gmail.com</a></p>
                    <p><span>Website:  </span><a href="#">alia.com</a></p>
                </div>
            </div>

            <div class="col-md-6 d-flex">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2441.9741044574503!2d21.08398131579789!3d52.26201527976627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecdd0a6baa007%3A0xe45beb55b6dd550!2sMatuszewska%2020%2C%2003-876%20Warszawa%2C%20Polska!5e0!3m2!1spl!2sby!4v1592488267268!5m2!1spl!2sby"
                        width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subcribe to our Newsletter</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>