
@model Alia.ViewModels.LoginViewModel
   <div class="logsign-back"></div>
    <div>
        <div class="form-contact">
            <div id="id02" class="modal">
                <div id="form2" class="div-sign-in">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
                    <form class="modal-content" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="container-1">
                            <h1 class="h1-sign-up">Sign In</h1>
                            <hr>

                            <input type="text" placeholder="Enter Email" name="Email" class="input-sign-up" asp-for="Email" required>
                            <input type="password" placeholder="Password" name="Password" class="input-sign-up" asp-for="Password" required>

                            <label class="mark">
                                Remember me?
                                <input asp-for="RememberMe" type="checkbox" checked="checked" name="remember" style="margin-left: 10px;">
                            </label>

                            <div class="a-btns">
                                <input type="button" onclick="document.getElementById('id02').style.display='none'" class="button-sign-up" value="Cancel">
                                <input type="submit" class="button-sign-up" value="Sign In">
                            </div>
                            <p class="sign-up-new">
                                <a type="button" onclick="document.getElementById('id02').style.display='none'; document.getElementById('id01').style.display='block'" class="a-su"
                                   asp-controller="Account" asp-action="Register">Don't have account? Sign Up!</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script>
            // Get the modal
            let modal2 = document.getElementById('id02');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal2) {
                    modal2.style.display = "none";
                }
            }
        </script>
    </div>
