@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="back-table" style="height:auto;" role="document">
    <div class="back-tbl center" style="margin-top: 30px;">
        <label class="text-top">List of roles</label>
        <a class="top-btn" asp-action="Create"><img src="/css/img_new/add.png" width="30" /></a>
        <table style="margin-left: 240px;">
            <thead>
                <tr>
                    <th scope="col" style="display: none;"></th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td style="display:none;"></td>
                        <td>@role.Name</td>
                        <td>
                            <form class="text-right" asp-action="Delete" asp-route-id="@role.Id" method="post">
                                <button type="submit" class="top-btn">
                                    <img src="/css/img_new/delete.png" width="30" style="line-height: 30px;">
                                </button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <label class="text-top">User List</label>
        <a class="top-btn" asp-action="UserList"><img src="/css/img_new/userlist.png" width="30" /></a>
    </div>
</div>