@model IEnumerable<Alia.Models.User>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User List</h5>
            </div>
            <div class="modal-body">
                <table class="table">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>