@model Alia.Models.Category
@{
    ViewBag.Title = "Edit category";
}
    <div class="back-table" style="height:600px;" role="document">
        <div class="back-tbl center" style="margin-top: 30px;">
            <form asp-action="CategoryEdit" asp-controller="Item" asp-route-categoryid="@Model.CategoryId">
                <div class="form-filter-2">
                    <label asp-for="CategoryName" class="text-top">Name</label>
                    <input type="text" asp-for="CategoryName" class="input-filter-2" />
                    <button type="submit" class="filter-button-2">Save</button>
                </div>
                
            </form>
            
        </div>
    </div>
