@model Alia.Models.Item
@{
    ViewBag.Title = "Item delete";
}

<div class="background-deli" role="document">
    <div class="back-deli-gr">
        <div class="back-deli-shadow">
            <div class="table-deli">
                <div class="tr-deli">
                    <div class="column-deli-1">
                          <div class="photo-deli"></div>  
                    </div>
                    <div class="column-deli-2">
                        <h3 class="h3-deli margin-2">@Html.DisplayFor(model => model.ItemName)</h3>
                        <textarea class="h3-deli margin-40 ta-back-deli" readonly>Description</textarea>
                    </div>
                    <div class="column-deli-3">
                        <p class="h3-deli ">Category</p>
                        <p class="h3-deli ">Locality</p>
                    </div>
                    <div class="column-deli-4">
                        <div><img src="/css/img_new/edit.png" width="20"></div>
                        <div><img src="/css/img_new/delete.png" width="20"></div>
                    </div>
                </div>
                
                <div class="tr-deli pagination-deli">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
