@model Alia.Models.Locality
@{
    ViewData["Title"] = "Add Locality";
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>Locality</legend>

                    <p>
                        Locality name <br />
                        @Html.EditorFor(model => model.LocalityName)
                    </p>

                    <p>
                        Region <br />
                        @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as SelectList)
                    </p>

                    <p>
                        <button class="btn btn-primary">Add locality</button>
                    </p>
                </fieldset>
            }
        </div>
    </div>
</div>