@model Alia.Models.Locality
@{
    ViewData["Title"] = "Add Locality";
}
<div class="back-table" style="height:600px;" role="document">
    <div class="back-tbl center" style="margin-top: 30px;">
        <label class="text-top">New locality</label>
        <form asp-action="LocalityCreate" asp-controller="Item">
            <div class="container-user-cr">
                <div class="text-user-cr">
                    <label asp-for="LocalityName" class="text-top">Name</label>
                    <label asp-for="RegionId" class="text-top">Region</label>
                </div>
                <div class="input-user-cr">
                    <input type="text" asp-for="LocalityName" class="input-filter-2" />
                    @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as SelectList, htmlAttributes: new { @class = "select-filter-2 margin-top-20" })
                </div>    
            </div>
            <button type="submit" class="filter-button-2">Add</button>

        </form>

    </div>
</div>
