@model Alia.Models.Region
@{
    ViewBag.Title = "Region delete";
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <table class="table">
                <tr><th>id</th><th>name</th></tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.RegionId)</td>
                    <td>@Html.DisplayFor(model => model.RegionName)</td>
                </tr>
                <form asp-controller="Item" asp-action="RegionDelete" method="post">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Delete region</button>
                    </div>
                </form>
            </table>
        </div>
    </div>
</div>