@model Alia.ViewModels.ItemListViewModel
@{
    ViewData["Title"] = "Home";
}

<!-- FIRST BLOCK -->
<div class="first-block">

    <blockquote class="first-text">
        <div class="quote">
            "One should strive to see in every thing that which
            no one else has seen and over which no one has thought".
        </div>
        <p class="author">Georg Christoph Lichtenberg,</p>
        <p class="author-prof"> physicist, satirist and philosopher</p>
    </blockquote>
    <div class="second-text">
        <div class="quote-2">
            "Every thing here is unique.
            Whether it's a vintage dress, a time-worn book, or an antique vase,
            it all has a soul and wants to tell its story to its new owner".
        </div>
        <p class="author-2">Elizabeth Shibut,</p>
        <p class="author-prof-2"> the creator</p>
    </div>
</div>
<script type="text/javascript">
        let slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            let i;
            let x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
</script>

<!-- SECOND BLOCK -->
<div class="second-block">
    <div class="center-buttons">
        <a class="a-sec prev round" onclick="plusDivs(-1)"></a>
        <a class="a-sec next round" onclick="plusDivs(1)"></a>
    </div>
    <div class="mySlides" style="display: block">
        <ul class="ul-second-block">

            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/clothes1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Clothes</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="5"></a>
                </div>
            </li>

            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/decoration1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Decoration</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="4"></a>
                </div>
            </li>
            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/books1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Books</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="3"></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="mySlides">
        <ul class="ul-second-block">
            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/hobby1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Hobby</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="9"></a>
                </div>
            </li>
            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/furniture1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Furniture</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="2"></a>
                </div>
            </li>
            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/jewelry1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Jewelry</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="1"></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="mySlides">
        <ul class="ul-second-block">
            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/technics1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Equipment</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="7"></a>
                </div>
            </li>
            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/utensil1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Utensil</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="6"></a>
                </div>
            </li>
            <li class="li-second-block">
                <div class="work">
                    <div class="work-overlay">
                        <img src="/css/img_new/miniview/another1.png" alt="Portfolio Image">
                    </div>
                    <div class="work-content">
                        <h3 class="h3-second-block">Another</h3>
                        <p class="p-second-block">blablablablablabla</p>
                    </div>
                    <a class="content-wrapper-link" asp-controller="Home" asp-action="Item" asp-route-category="8"></a>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="third-block" role="tabpanel">
    <form class="form-third-block" asp-action="Item" asp-controller="Home" asp-route-name="@Model.FilterViewModel.Name"
          asp-route-locality="@Model.FilterViewModel.SelectedLocality">
        @Html.TextBox("name", Model.FilterViewModel.Name, htmlAttributes: new { @class = "input", @placeholder = "key word" })
        @Html.DropDownListFor(model => model.FilterViewModel.Localities, ViewBag.Localities as SelectList, htmlAttributes: new { @class = "select-block" })
        <input type="submit" class="search-button" value="Search">
    </form>
</div>

