@model Alia.ViewModels.ItemListViewModel
@addTagHelper *, Alia
@{
    ViewBag.Title = "";
}
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-down:before {
        content: "\f078";
    }

    .glyphicon-chevron-up:before {
        content: "\f077";
    }
</style>
<div class="background">

    <div class="container-shop">
        <div class="filter-block">
            <form class="form-filter" asp-action="Item" asp-controller="Home" method="get">
                
                @Html.TextBox("name", Model.FilterViewModel.Name, htmlAttributes: new { @class = "input-filter", @placeholder = "key word" })
                @Html.DropDownList("category", Model.FilterViewModel.Categories, htmlAttributes: new { @class = "select-filter" })
                <select name="region" asp-items="ViewBag.Regions" class="select-filter" id="region">
                </select>
                <select name="locality" asp-items="ViewBag.Localities" class="select-filter" id="locality">
                </select>
                @section scripts{
                    <script type="text/javascript">
                    $(function () {
                        $('#region').change(function()
                        {
                            // получаем выбранный id
                            var id = $(this).val();
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("GetItems")/' + id,
                                success: function (data) {
                                    // заменяем содержимое присланным частичным представлением
                                    $('#locality').replaceWith(data);
                                }
                            });
                        });
                    })
                    </script>
                }
                <input class="filter-button" asp-controller="Home" asp-action="Item" formmethod="get" type="submit" value="Filter">

            </form>
        </div>
        <div class="cards-main-block">
            <div class="gallery">
                <a target="_blank" href="#">
                    <img src="/css/img_new/shop/br1.png" alt="Cinque Terre" width="300" height="300">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="#">
                    <img src="/css/img_new/shop/br1.png" alt="Forest" width="300" height="300">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="">
                    <img src="/css/img_new/shop/br1.png" alt="Northern Lights" width="300" height="300">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="">
                    <img src="/css/img_new/shop/br1.png" alt="Mountains" width="300" height="300">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

        </div>
        <div class="offer-block"></div>
       
    </div>

</div>
