@model string

<div asp-validation-summary="All" class="text-danger"></div>
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add new role</h5>
        </div>
        <div class="modal-body">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="name">New Role</label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>